<div class="pull-right">
  <%= link_to("Add a seminar", new_admin_seminar_path, :class => "btn btn-default" ) %>
</div>

<br><br>

<table class="table table-boldered table-striped custab" >
  <thead>
    <tr>
        <td>
            Seminar
        </td>
        <td>
          报名人数
        </td>
        <td>
          举办地
        </td>
        <td>
            开始时间
        </td>
        <td>
            结束时间
        </td>
        <td>
            管理选项
        </td>
        <td>
            发布时间
        </td>
    </tr>
</thead>

  <% @seminars.each do |seminar| %>
  <tr>
      <td>
        <%= render_seminar_status(seminar) %>
        <%= link_to(seminar.title, admin_seminar_path(seminar)) %>
      </td>
      <td> <%= link_to(seminar.bookings.count, admin_seminar_bookings_path(seminar)) %> </td>
      <td> <%= seminar.gym %> </td>
      <td> <%= seminar.startdate %> </td>
      <td> <%= seminar.enddate %> </td>
      <td>
        <%= link_to("Edit", edit_admin_seminar_path(seminar), :class => "btn btn-xs btn-info") %>
        <%= link_to("Destroy", admin_seminar_path(seminar), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>
        <% if seminar.is_hidden %>
          <%= link_to("Publish", publish_admin_seminar_path(seminar), :method => :post, :class => "btn btn-xs btn-success") %>
        <% else %>
          <%= link_to("Hide", hide_admin_seminar_path(seminar), :method => :post,  :class => "btn btn-xs btn-warning") %>
        <% end %>
    </td>
    <td>
      <%= seminar.created_at %>
    </td>
  </tr>
  <% end %>
</table>
