      <!-- Page Header-->
      <header class="page text-center page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav data-layout="rd-navbar-sidebar" data-sm-layout="rd-navbar-sidebar" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="130px" data-lg-stick-up-offset="85px" class="rd-navbar-base rd-navbar-corporate rd-navbar">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar-sub-panel" class="rd-navbar-toggle"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html" class="reveal-inline-block"><img src="images/logo.png" width="266" height="49" alt=""></a></div>
                <div data-rd-navbar-toggle=".rd-navbar-contacts" class="rd-navbar-collapse-toggle"><span></span></div>
                <div class="rd-navbar-contacts">
                  <div class="media p">
                    <div class="media-left"><span class="icon icon-sm mdi mdi-phone"></span></div>
                    <div class="media-body">
                      <p><a href="callto:#" class="text-base">1-800-1234-567</a>, <a href="callto:#" class="text-base">1-800-6547-321</a>
                      </p>
                    </div>
                  </div>
                  <div class="media p">
                    <div class="media-left"><span class="icon icon-sm mdi mdi-map-marker"></span></div>
                    <div class="media-body"><a href="#" class="text-base">2130 Fulton Street San Diego, CA 94117-1080 USA</a></div>
                  </div>
                  <div class="media p">
                    <div class="media-left"><span class="icon icon-sm mdi mdi-email-outline"></span></div>
                    <div class="media-body"><a href="/cdn-cgi/l/email-protection#4063" class="text-primary"><span class="__cf_email__" data-cfemail="2f464149406f4b4a42404346414401405d48">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></a></div>
                  </div>
                </div>
                <div class="rd-navbar-shop"><a href="#"><span class="icon mdi mdi-cart"></span><span class="text-middle">Shopping Cart:</span><span class="rd-navbar-shop-counter">0</span></a></div>
              </div>
              <div class="rd-navbar-sub-panel">
                <div class="rd-navbar-sub-panel-inner">
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a href="index.html" class="reveal-inline-block"><img src="images/logo.png" width="266" height="49" alt=""></a></div>
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="active"><a href="./">Home</a></li>
                      <li><a href="about.html">About</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="overview.html">Overview</a></li>
                          <li><a href="experience.html">Experience</a></li>
                          <li><a href="faq.html">FAQ</a></li>
                          <li><a href="careers.html">Careers</a></li>
                        </ul>
                      </li>
                      <li><a href="schedule.html ">Schedule</a></li>
                      <li><a href="training.html">training</a></li>
                      <li><a href="prices.html ">prices</a></li>
                      <li><a href="#">events</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="events.html">Events</a></li>
                          <li><a href="event-single.html">Single event</a></li>
                        </ul>
                      </li>
                      <li><a href="#">blog</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog.html">Blog</a></li>
                          <li><a href="blog-modern.html">Modern Blog</a></li>
                          <li><a href="blog-single-post.html">Single Post</a></li>
                        </ul>
                      </li>
                      <li><a href="">pages</a>
                        <ul class="rd-navbar-megamenu">
                          <li>
                            <h5>Pages</h5>
                            <ul>
                              <li><a href="about.html">About</a></li>
                              <li><a href="overview.html">Overview</a></li>
                              <li><a href="experience.html">Experience</a></li>
                              <li><a href="faq.html">FAQ</a></li>
                              <li><a href="careers.html">Careers</a></li>
                              <li><a href="schedule.html ">Schedule</a></li>
                              <li><a href="training.html">training</a></li>
                              <li><a href="search-results.html">Search results</a></li>
                            </ul>
                          </li>
                          <li>
                            <h5>Extras</h5>
                            <ul>
                              <li><a href="gallery.html">Gallery</a></li>
                              <li><a href="404.html">404</a></li>
                              <li><a href="503.html">503</a></li>
                              <li><a href="maintenance.html">Maintenance</a></li>
                              <li><a href="soon.html">Coming Soon</a></li>
                              <li><a href="login.html">Login</a></li>
                              <li><a href="register.html">Register</a></li>
                              <li><a href="sitemap.html">Site map</a></li>
                              <li><a href="privacy.html">Privacy policy</a></li>
                            </ul>
                          </li>
                          <li>
                            <h5>Elements</h5>
                            <ul>
                              <li><a href="typography.html">Typography</a></li>
                              <li><a href="buttons.html">Buttons</a></li>
                              <li><a href="forms.html">Forms</a></li>
                              <li><a href="grid.html">Grid</a></li>
                              <li><a href="tabs.html">Tabs</a></li>
                              <li><a href="bars.html">Progress Bars</a></li>
                              <li><a href="tables.html">Tables</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><a href="contacts.html">Contacts</a></li>
                    </ul>
                  </div>
                  <!--RD Navbar Search-->
                  <div class="rd-navbar-search">
                    <form action="search-results.html" data-search-live="rd-search-results-live" method="GET" class="rd-search">
                      <div class="form-group">
                        <label for="rd-navbar-search-form-input" class="form-label text-italic">Search</label>
                        <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-base">
                        <button class="mdi mdi-magnify btn icon"></button>
                      </div>
                      <div id="rd-search-results-live" class="rd-search-results-live"></div>
                    </form>
                  </div>
                  <div class="rd-navbar-shop"><a href="#"><span class="icon mdi mdi-cart"></span><span class="rd-navbar-shop-counter">0</span></a></div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>







<!-- <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">COACH YANG </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to("Products", products_path ) %>
              </li>
               <li>
                 <%= link_to carts_path do  %>
                    购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
                 <% end %>
               </li>

                <% if !current_user %>
                <li><a href="#" data-toggle="modal" data-target="#signup-modal">Signup</a></li>
                <li><a href="#" data-toggle="modal" data-target="#login-modal" class="fa fa-sign-in">Login</a></li>
                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!,<%= current_user.display_name %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <% if current_user.admin? %>
                        <li>
                          <%= link_to("Admin 选单", admin_products_path ) %>
                        </li>
                        <% end %>
                        <li>
                          <%= link_to("个人订单列表", account_orders_path ) %>
                        </li>
                        <li>
                          <%= link_to("个人中心", edit_user_registration_path ) %>
                        </li>
                        <li>
                          <%= link_to destroy_user_session_path, method: :delete do %>
                            <i class="fa fa-sign-out"> 登出</i>
                          <% end %>
                        </li>
                    </ul>
                  </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="loginmodal-container">
       <h2>Login</h2>
       <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="form-inputs">
           <%= f.input :email, required: false, autofocus: true %>

           <%= f.input :password, required: false %>
           <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
         </div>
         <div class="form-actions">
           <%= f.button :submit, "Log in" %>
         </div>
       <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h2>Signup</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :username,required: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>
        <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>
    </div>
  </div>
</div>  -->
